[mysqld]
innodb_buffer_pool_size = 128M
innodb_log_buffer_size = 16M
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

pid-file=/var/run/mysqld/mysqld.pid

# パスワードなしでログイン可能にする設定
#skip-grant-tables


[client]
socket=/var/run/mysqld/mysqld.sock

!includedir /etc/mysql/conf.d/